*{
    margin: 0;
    padding: 0;
}
.fundo{
    background-image: linear-gradient(65deg, black, purple);
    height: 100vh;
    color: antiquewhite;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.calculadora{
    position: absolute;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 15px;
    padding: 15px;
}
.button{
    background-color: gray;
    height: 50px;
    width: 50px;
    font-size: 25px;
    cursor: pointer;
    background-color:rgb(31, 31, 31);
    border: none;
    color: white;
    margin: 3px;
}
.button:hover{
    background-color:purple ;
}
#igual{
    height: 106px;
}
#zero{
    width: 106px;
}
#resultado{
    background-color:white;
    width: 207px;
    height: 30px;
    margin: 5px;
    font-size: 25px;
    text-align: right;
    padding: 5px;
    color: black;


}


    
    

